body {
  background-color : #EAF6F6;

}

img {

  width : 80%;

}

hr {


  border-style : none;
  border-top-style : dotted;
  width : 10%;
  border-color : grey;
  border-width : 2px;

}

h1 {
  color : #66BFBF;

}

h3 {

  color : #66BFBF;

}

a:link { color: blue; }          /* Unvisited links */
a:visited { color: purple; }     /* Visited links */
a:hover { background: yellow; }  /* Hovered links */
a:active { color: red; }         /* Active links */

p:active { background: #eee; }   /* Active paragraphs */
